/* Body */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1496065187959-7f07b8353c55?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    /* background-color: white; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: crimson;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

/* Nav */
nav {
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

nav ul li a {
    color: crimson;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

/* Main */
main {
    padding: 20px;
}

/* Section */
section {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

h2 {
    text-align: center;
    color: #dc143c;
}

p {
    color: white;
}


.burger-icon {
    display: none;
    cursor: pointer;
}

/* Media query*/
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        /* background-color: white; */
        z-index: 10;
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
    }

    nav.active ul li {
        text-align: center;
    }

    .burger-icon {
        display: block;
        position: absolute;
        top: 30px;
        right: 15px;
        color: crimson;
    }

    .burger-icon i {
        font-size: 24px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}